@use '@/styles/variables' as *;

@mixin btn-style {
  flex-shrink: 0;
  width: calc(50% - 10px);
  height: 2.5em;
  font-size: 1.125em;
  color: #fff;
  font-weight: 700;
  border-radius: 1em;
  background-color: $key-color;
  // padding: 0.5em;
  margin: 0 5px;
}